{% extends "provarme_dashboard/base_login.html" %}
{% load i18n static %}
{% block title %}Acesse sua instância agora mesmo{% endblock %}
{% block main %}


    <body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h4><img src="{% static 'provarme_landing/img/logo.png' %}" alt="" /></h4>
                  </div>
                  <form action="." method="post" class="user">
                      {% csrf_token %}
                        {% if next %}
                            <input type="hidden" name="next" value="{{ next }}">
                        {% endif %}
                    <div class="form-group">
                      <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Seu email...">
                        {% if form.email.errors %}
                            {% for error  in form.email.errors %}
                                <div>
                                    <small>{{ error }}</small>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Sua senha">
                        {% if form.password.errors %}
                            {% for error  in form.password.errors %}
                                <div>
                                    <small>{{ error }}</small>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                      <button type="submit" class="btn btn-primary btn-user btn-block">Entrar</button>

                    <hr>
                    <a href="/" class="btn btn-google btn-user btn-block">
                      {% trans 'Voltar' %}
                    </a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="forgot-password.html">Esqueceu sua senha?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock main %}