{% extends "atrix_core/base_tenant.html" %}
{% load i18n static %}
{% block main %}

<div class="login-box">
  <div class="login-logo">
    <a href="login.html">
      <img src="{% static 'atrix_core/static/img/logologin.png' %}" alt=""/>
    </a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Conecte-se para iniciar seu trabalho</p>

    <form action="." method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
      <div class="form-group has-feedback">
        <input type="email" name="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          {% if form.email.errors %}
            {% for error  in form.email.errors %}
                <div>
                    <small>{{ error }}</small>
                </div>
            {% endfor %}
        {% endif %}
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="Senha">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          {% if form.password.errors %}
            {% for error  in form.password.errors %}
                <div>
                    <small>{{ error }}</small>
                </div>
            {% endfor %}
        {% endif %}
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
          <button type="submit" class="btn bg-olive btn-flat margin">Entrar</button>
            <a href="/" class="btn btn-warning btn-flat pull-right margin"><small>{% trans 'Voltar' %}</small></a>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- /.social-auth-links -->

    <a href="#" class="text-green">Esqueci minha senha</a><br>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock main %}