{% extends "provarme_dashboard/base_dashboard.html" %}
{% load i18n static %}
{% block title %}{% trans '[Drop Azul] -  Seus produtos' %}{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Produtos</li>
{% endblock breadcrumb %}
{% block main %}


  <!-- Conteúdo principal -->

  <div class="row">
<div class="col-lg-12">
<div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Produtos</h6>
                </div>
                <div class="card-body">
              {% if products.count > 0 %}
              <table id="customers" class="table table-bordered table-striped dataTable">
                <thead>
                <tr>
                  <th>Nome</th>
                  <th>Fornecedor</th>
                  <th>Custo</th>
                  <th>Mark UP</th>
                  <th>Preço Final</th>
                  <th>Status</th>
                  <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                <tr>
                  <td><a href="{% url 'dashboard:update_product' product.pk %}" class="link-datatable">{{ product.name }}</a></td>
                  <td>
                    {{ product.provider.name }}
                  </td>
                  <td>R$ {{ product.cost }}</td>
                  <td>{{ product.markup }}</td>
                  <td>R$ {{ product.price }}</td>
                  <td style="{% if product.status == True %} color:green;{% else %} color:red; {% endif %}">
                      {% if product.status == True %}
                        <center><span class="fa fa-check"></span></center>
                      {% else %}
                        <center><span class="fa fa-times"></span></center>
                      {% endif %}
                  </td>
                  <td>
                      <a href="{% url 'dashboard:estimate_product' product.pk %}" class="btn btn-success btn-xs"><span class="fa fa-eye"></span></a>
                      <a href="{% url 'dashboard:update_product' product.pk %}" class="btn btn-primary btn-xs"><span class="fa fa-edit"></span></a>

                  </td>
                </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                  <th>Nome</th>
                  <th>Fornecedor</th>
                  <th>Custo</th>
                  <th>Mark UP</th>
                  <th>Preço Final</th>
                  <th>Status</th>
                  <th>Ações</th>
                </tr>
                </tfoot>
              </table>
                {% else %}

                    <center><h4>Você ainda não possui produtos cadastrados no sistema!</h4></center>

                {% endif %}


              <br><br>

            <a href="{% url 'dashboard:new_product' %}" class="btn btn-primary m-b-10 m-l-5 pull-right">Criar Novo</a>


            </div>
            <!-- /.box-body -->
              </div>
          </div>
          </div>

    <!-- /.content -->
{% endblock main %}
{% block javascript %}
<script type="text/javascript">
$(function () {
    $('#customers').DataTable( {
         "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json"
            }
    } );


    $("#customers").on("click", ".delete-customer", function () {
				var url = $(this).attr("data-url");
				deleteQuestion(url);
			});

			function deleteQuestion(url) {
				swal({
					title: "Tem certeza?",
					text: "Você irá excluir esse aluno e tudo relacionado a ele será apagado!",
					type: "warning",
					showCancelButton: true,
					cancelButtonText: "Cancelar",
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "Sim, excluir!",
					closeOnConfirm: false
				},
				function(isConfirm){
					if (isConfirm) {
						window.location.href = url;
					}
				});
	};


})
</script>
{% endblock javascript %}