{% extends "provarme_dashboard/base_dashboard.html" %}
{% load i18n static dashboard_tags %}
{% block title %}{% trans '[Drop Azul] -  Seus produtos' %}{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Produtos</li>
{% endblock breadcrumb %}

{% block main %}

<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Produtos</h6>
      </div>
      <div class="card-body">
        <table id="datatable" class="table table-bordered table-striped dataTable">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Fornecedor</th>
              <th>Custo</th>
              <th>Mark UP</th>
              <th>Preço Final</th>
              <th>Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
              <tr>
                <td><a href="{% url 'dashboard:update_product' product.pk %}" class="link-datatable">{{ product.name }}</a></td>
                <td>{{ product.provider.name }}</td>
                <td>R$ {{ product.cost }}</td>
                <td>{{ product.markup }}</td>
                <td>R$ {{ product.price }}</td>
                <td class="font-weight-bold text-{{ product.status|text_color }}">{{ product.get_status_display }}</td>
                <td>
                  <a href="{% url 'dashboard:estimate_product' product.pk %}" class="btn btn-success btn-xs"><span class="fa fa-eye"></span></a>
                  <a href="{% url 'dashboard:update_product' product.pk %}" class="btn btn-primary btn-xs"><span class="fa fa-edit"></span></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'dashboard:new_product' %}" class="btn btn-primary m-b-10 m-l-5 pull-right">Criar Novo</a>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
