{% extends "provarme_dashboard/base_dashboard.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% block title %}{% trans '[Drop Azul] -  Nova Loja' %}{% endblock %}

{% block main %}
  <!-- Conteúdo principal -->
  <div class="row">
<div class="col-lg-12">
<div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Produto</h6>
                </div>
                <div class="card-body">

                    <form class="form" action="" method="post">
                        {% csrf_token %}
                        {% include "provarme_dashboard/components/form-error.html" with form=form %}
                            <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                  {% include "provarme_dashboard/components/field.html" with field=form.name %}
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {% include "provarme_dashboard/components/field.html" with field=form.slug %}
                                    </div>
                            </div>
                            </div>

                        <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                  {% include "provarme_dashboard/components/field.html" with field=form.link %}
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{% include "provarme_dashboard/components/field.html" with field=form.provider %}
                                    </div>
                            </div>
                            </div>

                    <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                          <label for="">Custo do Produto:</label>
                                          {{ form.cost|add_class:'form-control'| attr:"id:cost" }}
                                          <strong style="color:red;">{{ form.errors.cost }}</strong>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                          <label for="">Mark UP: <span style="color: red;">Recomendado 2.75</span></label>
                                          {{ form.markup|add_class:'form-control'| attr:"id:markup" }}
                                          <strong style="color:red;">{{ form.errors.markup }}</strong>
                                    </div>
                            </div>
                            </div>


                     <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                          <label for="">Preço Recomendado do Produto:</label>
                                          {{ form.recommended_price|add_class:'form-control'| attr:"id:recommended_price" }}
                                          <strong style="color:red;">{{ form.errors.recommended_price }}</strong>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                          <label for="">Preço Final:<span style="color: green;"> Seu preço final</span></label>
                                          {{ form.price|add_class:'form-control' }}
                                          <strong style="color:red;">{{ form.errors.price }}</strong>
                                    </div>
                            </div>
                         <div class="col-md-6">
                                <div class="form-group">
                                          <label for="">Status:</label>
                                          {{ form.status|add_class:'form-control' }}
                                          <strong style="color:red;">{{ form.errors.status }}</strong>
                                    </div>
                            </div>

                          <div class="col-md-6">
                                <div class="form-group">
                                          <label for="">Custo com Marketing(%):</label>
                                          {{ form.marketing|add_class:'form-control' }}
                                          <strong style="color:red;">{{ form.errors.marketing }}</strong>
                                    </div>
                            </div>
                            </div>


                        <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                     <a href="{% url 'dashboard:products' %}" class="btn btn-warning">
                      {% trans 'Voltar' %}
                    </a>

                      <!-- /.box-footer -->
                    </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          </div>
        </div>

    <!--Estimador de Lucro -->

          </div>
    <!-- /.content -->
{% endblock main %}

<!-- Bloco de scripts js -->
{% block javascript %}
<script>
$("#recommended_price").focus(function(){
      var cost = $("#cost").val();
      var markup = $("#markup").val();
      var calculo = cost * markup;
      calculo = Math.round(calculo, 2);
      // Atualiza input
      $("#recommended_price").val(calculo).trigger('blur');
      $(this).css("color", "orange");
    });
    </script>
{% endblock javascript %}