

<body>


<div class="login-box">
  <div class="login-logo" style="background: #441991; width: 100%; height: 80px;">
    <a href="http://159.65.91.55">
      <img src="https://preview.ibb.co/b0Vueo/logo_provarme_negativo_1.png" alt="logoprovarme" width="320" height="90">
    </a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
      <p class="login-box-msg">Olá {{ user.username }},</p>
      <p class="login-box-msg">Por favor, clique no link abaixo para iniciar sua instância e seu usuário!</p>



    <!-- /.social-auth-links -->

    <a href="http://159.65.91.55{% url 'tenant:activate' id=id token=token schema_name=schema_name %}" class="text-green">
        Iniciar instância
    </a>
      <br>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->


