

<body>


<div class="login-box">
  <div class="login-logo" style="background: #00a65a; width: 100%; height: 80px;">
    <a href="http://www.atrixmob.com.br">
      <img src="https://atrixmobcore.s3.amazonaws.com/static/atrix_core/static/img/logologin.png" alt=""/>
    </a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
      <p class="login-box-msg">Olá {{ user.username }},</p>
      <p class="login-box-msg">Por favor, clique no link abaixo para iniciar sua instância e seu usuário!</p>



    <!-- /.social-auth-links -->

    <a href="{% url 'tenant:activate' id=id token=token %}" class="text-green">Iniciar instância</a><br>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->


