{% extends "provarme_dashboard/base_dashboard.html" %}
{% load i18n static %}
{% block title %}{% trans '[Drop Azul] -  Suas Contas' %}{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Produtos</li>
{% endblock breadcrumb %}

{% block main %}

<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Contas</h6>
      </div>
      <div class="card-body">
        <table id="datatable" class="table table-bordered table-striped dataTable">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Saldo</th>
              <th>Data do Saldo</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for account in accounts %}
              <tr>
                <td><a href="{% url 'dashboard:update_account' account.pk %}" class="link-datatable">{{ account.name }}</a></td>
                <td>R$ {{ account.balance }}</td>
                <td>{{ account.balance_date }}</td>
                <td>
                  <a href="{% url 'dashboard:update_account' account.pk %}" class="btn btn-primary btn-xs"><span class="fa fa-edit"></span></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'dashboard:new_account' %}" class="btn btn-primary m-b-10 m-l-5 pull-right">Criar Nova</a>
      </div>
    </div>
  </div>
</div>

{% endblock main %}
