{% extends "provarme_dashboard/base_dashboard.html" %}
{% load i18n static %}
{% block title %}{% trans '[Drop Azul] -  Suas vendas' %}{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Loja</li>
{% endblock breadcrumb %}

{% block main %}

<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Seus pedidos</h6>
      </div>
      <div class="card-body">
        <table id="datatable" class="table table-bordered table-striped dataTable">
          <thead>
            <tr>
              <th>Pedido</th>
              <th>Cliente</th>
              <th>Telefone</th>
              <th>Valor</th>
              <th>Situação</th>
              <th>Criado em</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
              <tr>
                <td><a href="" class="link-datatable">{{ order.order_number }}</a></td>
                <td>{{ order.customer.first_name }} {{ order.customer.last_name }}</td>
                <td>
                  {% for address in order.customer.address.all %}
                    {{ address.phone }}
                  {% endfor %}
                </td>
                <td>R$ {{ order.total_price }}</td>
                 <td>
                  {% if order.financial_status == 'pending' %}
                    <span style="color:red;">Boleto Bancário</span>
                  {% elif order.financial_status == 'paid' %}
                    <span style="color:green;">Cartão</span>
                  {% else %}
                    <span style="color:blue;">Desconhecido</span>
                  {% endif %}
                </td>
                <td>{{ order.created_at }}</td>
                <td>
                  <a class="btn btn-success btn-xs" href="https://api.whatsapp.com/send?phone={{ order.customer.address.first.clean_phone }}&text=Oi%20{{ order.customer.first_name }}%2C%20tudo%20bem%3F" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock main %}
