{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>atrixmob - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Icones da landing -->
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'atrix_landing/image/apple-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'atrix_landing/image/apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'atrix_landing/image/apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'atrix_landing/image/apple-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'atrix_landing/image/apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'atrix_landing/image/apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'atrix_landing/image/apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'atrix_landing/image/apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'atrix_landing/image/apple-icon-180x180.png' %}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'atrix_landing/image/android-icon-192x192.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'atrix_landing/image/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'atrix_landing/image/favicon-96x96.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'atrix_landing/image/favicon-16x16.png' %}">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!-- Custom css da landing -->
	<link rel="stylesheet" type="text/css" href="{% static 'atrix_landing/css/vendor.bundle.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'atrix_landing/css/style.css' %}">
	<!-- Re Captcha -->
	<script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>
	<!--Font awesome cdn-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body class="box-site" data-spy="scroll" data-target="#navbar" data-offset="70">

{% block main %}
{% endblock %}

	<!-- scripts da landing page -->
	<script src="{% static 'atrix_landing/js/vendor.bundle.js' %}"></script>
	<script src="{% static 'atrix_landing/js/script.js' %}"></script>
</body>
</html>