{% extends "provarme_dashboard/base_dashboard.html" %}
{% load i18n static dashboard_tags %}
{% block title %}{% trans '[Drop Azul] -  Seus fornecedores' %}{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Loja</li>
{% endblock breadcrumb %}

{% block main %}

<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Fornecedores</h6>
      </div>
      <div class="card-body">
        <table id="datatable" class="table table-bordered table-striped dataTable">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Whatsapp</th>
              <th>Criado em</th>
              <th>Atualizado em</th>
              <th>Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for provider in providers %}
              <tr>
                <td><a href="{% url 'dashboard:update_provider' provider.pk %}" class="link-datatable">{{ provider.name }}</a></td>
                <td>
                  {{ provider.whatsapp }}
                </td>
                <td>{{ provider.created_at }}</td>
                <td>{{ provider.updated_at }}</td>
                <td class="font-weight-bold text-{{ provider.status|text_color }}">{{ provider.get_status_display }}</td>
                <td>
                    <a class="btn btn-success btn-xs" href="https://api.whatsapp.com/send?phone={{ provider.whatsapp }}" target="_blank"><i class="fab fa-whatsapp"></i></a>
                  <a href="{{ provider.link }}" target="_blank" class="btn btn-success btn-xs"><span class="fa fa-eye"></span></a>
                  <a href="{% url 'dashboard:update_provider' provider.pk %}" class="btn btn-primary btn-xs"><span class="fa fa-edit"></span></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'dashboard:new_provider' %}" class="btn btn-primary m-b-10 m-l-5 pull-right">Criar Novo</a>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
