{% extends "atrix_dashboard/base_dashboard.html" %}
{% load i18n static %}
{% block title %}{% trans '[atrixmob] -  Seus fornecedores' %}{% endblock %}
{% block breadcrumb %}
<h1>
Fornecedores
<small>Gerencie os seus fornecedores</small>
</h1>
<a href="{% url 'dashboard:new_provider' %}" class="btn bg-purple margin pull-right">ADICIONAR</a>
{% endblock breadcrumb %}
{% block main %}
  <!-- Conteúdo principal -->
    <section class="content">
        <div class="row">
          <div class="col-xs-12">

            <div class="box">
            <div class="box-header">
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              {% if providers.count > 0 %}
              <table id="providers" class="table table-bordered table-striped dataTable">
                <thead>
                <tr>
                  <th>Nome</th>
                  <th>Tipo</th>
                  <th>CPF/CNPJ</th>
                  <th>Telefone</th>
                  <th>Situação</th>
                  <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for provider in providers %}
                <tr>
                  <td><a href="{% url 'dashboard:update_provider' provider.pk %}" class="link-datatable">{{ provider.name_social_name }}</a></td>
                  <td>
                    {% if provider.kind == 1 %}
                        Pessoa Física
                    {% else %}
                        Pessoa Jurídica
                    {% endif %}
                  </td>
                    {% if provider.kind == 1 %}
                        <td>{{ provider.cpf }}</td>
                    {% else %}
                        <td>{{ provider.cnpj }}</td>
                    {% endif %}
                  <td>{{ provider.phone_number }}</td>
                  <td style="{% if provider.status %} color:green;{% else %} color:red; {% endif %}">
                      {% if provider.status %}
                        Ativo
                      {% else %}
                        Inativo
                      {% endif %}
                  </td>
                  <td>
                      <a href="{% url 'dashboard:update_provider' provider.pk %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                      <a href="#" class="btn btn-danger btn-xs delete-provider" data-toggle="tooltip" data-title="Excluir Fornecedor" data-url="{% url 'dashboard:delete_provider' provider.id %}"><span class="glyphicon glyphicon-trash"></span></a>
                  </td>
                </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                  <th>Nome</th>
                  <th>Tipo</th>
                  <th>CPF/CNPJ</th>
                  <th>Telefone</th>
                  <th>Situação</th>
                  <th>Ações</th>
                </tr>
                </tfoot>
              </table>
                {% else %}

                    <center><h4>Você ainda não possui fornecedores cadastrados no sistema!</h4></center>

                {% endif %}


            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          </div>
        </div>

    </section>
    <!-- /.content -->
{% endblock main %}
{% block javascript %}
<script type="text/javascript">
$(function () {
    $('#providers').DataTable( {
         "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json"
            }
    } );


    $("#providers").on("click", ".delete-provider", function () {
				var url = $(this).attr("data-url");
				deleteQuestion(url);
			});

			function deleteQuestion(url) {
				swal({
					title: "Tem certeza?",
					text: "Você irá excluir esse fornecedor e tudo relacionado a ele será apagado!",
					type: "warning",
					showCancelButton: true,
					cancelButtonText: "Cancelar",
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "Sim, excluir!",
					closeOnConfirm: false
				},
				function(isConfirm){
					if (isConfirm) {
						window.location.href = url;
					}
				});
	};


})
</script>
{% endblock javascript %}