.login-page, .register-page {
    background: #00a65a;
}
.login-logo a, .register-logo a {
    color: #FFFFFF;
}
.link-datatable {
    color: #00AF5D;
}
.link-datatable:hover {
    color: #FF9900;
}
.modal-green {
    background-color: #00AF5D;
}

.modal-dialog {
    width: 800px;
    margin: 30px auto;
}
/* Media query para modal no mobile  */
@media (max-width: 400px) {
  .modal-dialog {
    width: 300px;
    margin: 20px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
.logo-mini {
    text-shadow: 2px 2px;
}
