{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Drop Azul - A melhor gestão para o seu negócio de dropshipping</title>
  <link rel="shortcut icon" href="{% static 'provarme_landing/img/favicon.ico' %}" type="image/x-icon">

  <!-- Custom fonts for this template-->
  <link href="{%  static 'provarme_dashboard/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{%  static 'provarme_dashboard/css/sb-admin-2.css' %}" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
  <!-- Custom styles for this page -->
  <link href="{% static 'provarme_dashboard/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
  <link href="{% static 'provarme_dashboard/vendor/datepicker-gijgo/gijgo.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard:index' %}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-box-open"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Drop Azul</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard:index' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Painel Gerencial</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Administrativo
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Configurações</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">

            <a class="collapse-item" href="{% url 'dashboard:stores' %}"><i class="fas fa-plug"></i> Loja</a>
            <a class="collapse-item" href="{% url 'dashboard:setups' %}"><i class="fas fa-tasks"></i> Taxas e Impostos</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">



      <!-- Heading -->
      <div class="sidebar-heading">
        Gerencial
      </div>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTree" aria-expanded="true" aria-controls="collapseTree">
            <i class="fas fa-coins"></i>
          <span>Financeiro</span>
        </a>
        <div id="collapseTree" class="collapse" aria-labelledby="headingTree" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'dashboard:categories' %}"><i class="fas fa-list-ol"></i> Categorias</a>
            <a class="collapse-item" href="{% url 'dashboard:accounts' %}"><i class="fas fa-university"></i> Contas Bancárias</a>
            <a class="collapse-item" href="{% url 'dashboard:expenses' %}"><i class="fas fa-folder-minus"></i> Despesas</a>
            <a class="collapse-item" href="{% url 'dashboard:expenses' %}"><i class="fas fa-folder-plus"></i> Receitas</a>
            <a class="collapse-item" href="{% url 'dashboard:cash-flow' %}"><i class="fas fa-funnel-dollar"></i> Fluxo de Caixa</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              <i class="fas fa-store"></i>
            <span>Operacional</span>
          </a>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="{% url 'dashboard:providers' %}}"><i class="fas fa-fw fa-hands-helping"></i> Fornecedores</a>
              <a class="collapse-item" href="{% url 'dashboard:products' %}"><i class="fas fa-fw fa-cart-plus"></i> Produtos</a>
              <a class="collapse-item" href="{% url 'dashboard:orders' %}"><i class="fas fa-cash-register"></i> Vendas</a>
              <a class="collapse-item" href="{% url 'dashboard:customers' %}"><i class="fas fa-user-check"></i> Clientes</a>
              <a class="collapse-item" href="{% url 'dashboard:devolutions' %}"><i class="fas fa-sync-alt"></i> Trocas e Devoluções</a>
            </div>
          </div>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                <i class="fas fa-fw fa-chart-area"></i>
              <span>Tráfego</span>
            </a>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" href="{% url 'dashboard:traffic' %}"><i class="fas fa-book"></i> Diário</a>
              </div>
            </div>
          </li>

          <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                  <i class="fas fa-comments-dollar"></i>
                <span>Suporte</span>
              </a>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" href="{% url 'dashboard:support' %}"><i class="fas fa-clipboard-list"></i> Boletos</a>
                  <a class="collapse-item" href="{% url 'dashboard:support' %}"><i class="fas fa-cart-arrow-down"></i> Abandonos</a>
                </div>
              </div>
            </li>

      


      

     

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>

    <!-- Start Page Content -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                    {{ request.user.first_name }} {{ request.user.last_name }}
                </span>
                {% if user.profile.image_profile %}
                    <img src="/media/{{ request.tenant.domain_url }}/{{ user.profile.image_profile }}" class="img-profile rounded-circle" alt="Imagem do Usuário">
                {% else %}
                    <img src="https://source.unsplash.com/QAB-WJcbgJk/60x60" alt="user" class="img-profile rounded-circle" />
                {% endif %}
              </a>

              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'tenant:profile' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'tenant:logout' %}" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Sair
                </a>
              </div>
            </li>
          </ul>

        </nav>
        <div class="container-fluid">
          {% block main %}{% endblock main %}
        </div>
      </div>
    </div>
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {% include "provarme_dashboard/components/modals/logout.html" %}

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'provarme_dashboard/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'provarme_dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'provarme_dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'provarme_dashboard/js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'provarme_dashboard/vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'provarme_dashboard/js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'provarme_dashboard/js/demo/chart-pie-demo.js' %}"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142851798-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-142851798-1');
  </script>

  <!--Mensagens e Notificações-->
	<script>
		toastr.options = {
		  "closeButton": false,
		  "debug": false,
		  "newestOnTop": false,
		  "progressBar": false,
		  "positionClass": "toast-bottom-full-width",
		  "preventDuplicates": false,
		  "onclick": null,
		  "showDuration": "300",
		  "hideDuration": "1000",
		  "timeOut": "5000",
		  "extendedTimeOut": "1000",
		  "showEasing": "swing",
		  "hideEasing": "linear",
		  "showMethod": "fadeIn",
		  "hideMethod": "fadeOut"
		}
	</script>

	{% for message in messages %}
    {% if message.tags == 'success' %}
      <script>toastr.success('','{{ message }}');</script>
    {% elif message.tags == 'warning' %}
      <script>toastr.warning('','{{ message }}');</script>
    {% elif message.tags == 'error' %}
      <script>toastr.error('','{{ message }}');</script>
    {% elif message.tags == 'info' %}
      <script>toastr.info('','{{ message }}');</script>
    {% endif %}
  {% endfor %}

  <script>
    window.intercomSettings = {
      app_id: "ai7dmi8v"
    };
  </script>

  <script>
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ai7dmi8v';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
     window.intercomSettings = {
      app_id: "ai7dmi8v",
      name: "{{ request.user.name|escapejs }}", // Full name
      email: "{{ request.user.email|escapejs }}", // Email address
      created_at: "{{ request.user.date_joined|date:"U" }}" // Signup Date
    };
  </script>

  <!-- Page level plugins -->
  <script src="{% static 'provarme_dashboard/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'provarme_dashboard/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'provarme_dashboard/vendor/clipboard/jquery.clipboard.min.js' %}"></script>
  <script src="{% static 'provarme_dashboard/vendor/inputmask/jquery.mask.min.js' %}"></script>
  <script src="{% static 'provarme_dashboard/vendor/inputmask/jquery.maskMoney.min.js' %}"></script>
  <script src="{% static 'provarme_dashboard/vendor/datepicker-gijgo/gijgo.min.js' %}"></script>
  <script src="{% static 'provarme_dashboard/vendor/datepicker-gijgo/messages.pt-br.min.js' %}"></script>
  <script src="{% static 'provarme_dashboard/js/main.js' %}"></script>

  {% block javascript %}{% endblock javascript %}

</body>

</html>
