{% extends "provarme_dashboard/base_dashboard.html" %}
{% load i18n static %}
{% block title %}{% trans '[Drop Azul] -  Seus clientes' %}{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Loja</li>
{% endblock breadcrumb %}

{% block main %}

<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Seus clientes</h6>
      </div>
      <div class="card-body">
        <table id="datatable" class="table table-bordered table-striped dataTable">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Telefone</th>
              <th>Valor</th>
              <th>Criado em</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for customer in customers %}
              <tr>
                <td>{{ customer.first_name }} {{ customer.last_name }}</td>
                <td>
                  {% for address in customer.address.all %}
                    {{ address.phone }}
                  {% endfor %}
                </td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.created_at }}</td>
                <td>
                  <a class="btn btn-success btn-xs" href="https://api.whatsapp.com/send?phone={{ customer.address.first.clean_phone }}&text=Oi%20{{ customer.first_name }}%2C%20tudo%20bem%3F" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock main %}
