{% extends "provarme_dashboard/base_dashboard.html" %}
{% load i18n static %}
{% block title %}{% trans '[provar.me] -  Seus alunos' %}{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Alunos</li>
{% endblock breadcrumb %}
{% block main %}


  <!-- Conteúdo principal -->

        <div class="row">
          <div class="col-sm-12">
            <!-- /.box-header -->
            <div class="card">
            <div class="card-body">
              <h1 class="card-title">Alunos</h1>
              <h3 class="card-subtitle">Gerencie seus alunos</h3>
              {% if customers.count > 0 %}
              <table id="customers" class="table table-bordered table-striped dataTable">
                <thead>
                <tr>
                  <th>Nome</th>
                  <th>Tipo</th>
                  <th>CPF/CNPJ</th>
                  <th>Telefone</th>
                  <th>Situação</th>
                  <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                <tr>
                  <td><a href="{% url 'dashboard:update_customer' customer.pk %}" class="link-datatable">{{ customer.name_social_name }}</a></td>
                  <td>
                    {% if customer.kind == 1 %}
                        Pessoa Física
                    {% else %}
                        Pessoa Jurídica
                    {% endif %}
                  </td>
                    {% if customer.kind == 1 %}
                        <td>{{ customer.cpf }}</td>
                    {% else %}
                        <td>{{ customer.cnpj }}</td>
                    {% endif %}
                  <td>{{ customer.phone_number }}</td>
                  <td style="{% if customer.status %} color:green;{% else %} color:red; {% endif %}">
                      {% if customer.status %}
                        <center><span class="fa fa-check"></span></center>
                      {% else %}
                        <center><span class="fa fa-times"></span></center>
                      {% endif %}
                  </td>
                  <td>
                      <a href="{% url 'dashboard:update_customer' customer.pk %}" class="btn btn-primary btn-xs"><span class="fa fa-edit"></span></a>
                      <a href="#" class="btn btn-primary disabled btn-xs delete-customer"  data-toggle="tooltip" data-title="Excluir Aluno" data-url="{% url 'dashboard:delete_customer' customer.id %}"><span class="fa fa-trash"></span></a>
                  </td>
                </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                  <th>Nome</th>
                  <th>Tipo</th>
                  <th>CPF/CNPJ</th>
                  <th>Telefone</th>
                  <th>Situação</th>
                  <th>Ações</th>
                </tr>
                </tfoot>
              </table>
                {% else %}

                    <center><h4>Você ainda não possui alunos cadastrados no sistema!</h4></center>

                {% endif %}


              <br><br>
            <a href="{% url 'dashboard:new_customer' %}" class="btn btn-primary m-b-10 m-l-5 pull-right">ADICIONAR</a>


            </div>
            <!-- /.box-body -->
              </div>
          </div>
          </div>

    <!-- /.content -->
{% endblock main %}
{% block javascript %}
<script type="text/javascript">
$(function () {
    $('#customers').DataTable( {
         "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json"
            }
    } );


    $("#customers").on("click", ".delete-customer", function () {
				var url = $(this).attr("data-url");
				deleteQuestion(url);
			});

			function deleteQuestion(url) {
				swal({
					title: "Tem certeza?",
					text: "Você irá excluir esse aluno e tudo relacionado a ele será apagado!",
					type: "warning",
					showCancelButton: true,
					cancelButtonText: "Cancelar",
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "Sim, excluir!",
					closeOnConfirm: false
				},
				function(isConfirm){
					if (isConfirm) {
						window.location.href = url;
					}
				});
	};


})
</script>
{% endblock javascript %}