{% extends "provarme_dashboard/base_dashboard.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% block title %}{% trans '[provar.me] -  Nova categoria' %}{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Nova Categoria</li>
{% endblock breadcrumb %}
{% block main %}
  <!-- Conteúdo principal -->

        <div class="row">
          <div class="col-12">

            <div class="card">
            <!--<h4 class="card-title">Alunos</h4>-->
                <!--<h6 class="card-subtitle">Novo Aluno</h6>-->
            <!-- /.box-header -->
            <div class="card-body">

                    <form class="form" action="" method="post">
                        {% csrf_token %}




                            {% if form.errors %}
                                    <div class="alert alert-danger">
                                            <strong>Ocorreu um erro no preenchimento do formulário!</strong>
                                            <br>
                                            <strong>Fique atento aos itens obrigatórios!</strong>
                                    </div>
                            {% endif %}

                          <!-- Formulário pessoa física (Cliente) -->
                          <div class="pessoa-fisica">


                              <h2 class="card-title m-t-15">
                                  As categorias são utilizadas para catalogar questões para que no momento da criação de um simulado,
                                  o usuário possa selecionar as matérias ou assuntos das questões do simulado.
                              </h2>
                              <hr>
                              <div class="row p-t-20">

                                      <div class="col-md-12">
                                          <div class="form-group">
                                          <label for="description">Categoria:</label>
                                          {{ form.description|add_class:'form-control' }}
                                          <strong style="color:red;">{{ form.errors.description }}</strong>
                                          </div>
                                      </div>
                                      <div class="col-md-6 cpf">
                                          <div class="form-group">
                                        <label for="parent">Categoria Pai:</label>
                                          {% render_field form.parent class="form-control" %}
                                          <strong style="color:red;">{{ form.errors.parent }}</strong>
                                          </div>

                                    </div>

                                  <div class="col-md-6 cpf">
                                          <div class="form-group">
                                        <label for="status">Situação:</label>
                                          {{ form.status }}
                                          <strong style="color:red;">{{ form.errors.status }}</strong>
                                          </div>

                                    </div>

                              </div>



                              </div>
                        <button type="submit" class="btn btn-primary pull-right">Salvar</button>

                      <!-- /.box-footer -->
                    </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          </div>
        </div>

    <!-- /.content -->
{% endblock main %}

<!-- Bloco de scripts js -->
{% block javascript %}
<script>



</script>
{% endblock javascript %}