{% extends "base.html" %}
{% load static %}
{% block styles %}
	<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/libs/select2/select2.css' %}"/>
{% endblock styles %}
{% block content %}
	<!-- BEGIN CONTENT-->
	<div id="content">
		<section>
			<div class="section-header ">
				<ol class="breadcrumb">
					<li><a href="{% url 'question_list' %}">Banco de Questões</a></li>
					<li><a href="{% url 'category_list' %}">Categorias</a></li>
					<li class="active">Nova Categoria</li>
				</ol>
			</div>
			<div class="section-body contain-xl">

				<!-- BEGIN VERTICAL FORM -->
				<div class="row">
					<div class="col-md-12">
						<form class="form" method="POST">
							{% csrf_token %}
              				{{ form.media }}
							<div class="card">
								<div class="card-head style-primary">
									<header>Nova Categoria</header>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-sm-12">
											{{ form.non_field_errors }}
										</div>
										<div class="col-sm-12">
											<div class="form-group">
												{{ form.description }}
												<label for="id_description">Descrição</label>
											</div>
											{{ form.errors.description }}
										</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group">
													<label for="id_wording" style="position: relative;">Categoria pai</label>
													{{ form.parent }}
												</div><!--end .form-group -->
												{{ form.errors.parent }}
											</div>
										</div>
									</div>
								</div><!--end .card-body -->
								<div class="card-actionbar">
									<div class="card-actionbar-row">
										<button type="submit" class="btn btn-flat btn-primary ink-reaction"><i class="fa fa-check"></i> Salvar Categoria</button>
									</div>
								</div>
							</div><!--end .card -->
						</form>
					</div><!--end .col -->
				</div><!--end .row -->
				<!-- END VERTICAL FORM -->

			</div>
		</section>
	</div><!--end #content-->
	<!-- END CONTENT -->
{% endblock content %}
{% block scripts %}
  <script src="{% static 'assets/js/libs/select2/select2.min.js' %}"></script>

	<script type="text/javascript">
			 $('select').select2();
	</script>
{% endblock scripts %}
