{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- BEGIN CONTENT-->
	<div id="content">
		<section>
			<div class="section-header ">
				<ol class="breadcrumb">
					<li><a href="{% url 'question_list' %}">Banco de Questões</a></li>
					<li><a href="{% url 'tag_list' %}">Tags</a></li>
					<li class="active">Nova Tag</li>
				</ol>
			</div>
			<div class="section-body contain-xl">

				<!-- BEGIN VERTICAL FORM -->
				<div class="row">
					<div class="col-md-12">
						<form class="form" method="POST">
							{% csrf_token %}
							<div class="card">
								<div class="card-head style-primary">
									<header>Nova Tag</header>
								</div>
								<div class="card-body floating-label">
									<div class="row">
										<div class="col-sm-12">
											{{ form.non_field_errors }}
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												{{ form.description }}
												<label for="id_description">Descrição</label>
											</div>
											{{ form.errors.description }}
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												{{ form.tag }}
												<label for="id_tag">Tag</label>
											</div>
											{{ form.errors.tag }}
										</div>
									</div>
								</div><!--end .card-body -->
								<div class="card-actionbar">
									<div class="card-actionbar-row">
										<button type="submit" class="btn btn-flat btn-primary ink-reaction"><i class="fa fa-check"></i> Salvar Tag</button>
									</div>
								</div>
							</div><!--end .card -->
						</form>
					</div><!--end .col -->
				</div><!--end .row -->
				<!-- END VERTICAL FORM -->

			</div>
		</section>
	</div><!--end #content-->
	<!-- END CONTENT -->
{% endblock content %}
{% block scripts %}
	<script src="{% static 'assets/js/libs/urlify/urlify.js' %}"></script>

	<script type="text/javascript">
		document.getElementById("id_description").onkeyup = function() {
		    var tag_input = document.getElementById("id_tag");
		    tag_input.value = URLify(document.getElementById("id_description").value, 50);
		    if (tag_input.value.length > 0) {
		    	tag_input.classList.add("dirty");
		    } else {
		    	tag_input.classList.remove("dirty");
		    }
		}
	</script>
{% endblock scripts %}