{% extends "provarme_dashboard/base_dashboard.html" %}
{% load i18n static dashboard_tags %}
{% block title %}{% trans '[Drop Azul] -  Suas trocas e devoluções' %}{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Produtos</li>
{% endblock breadcrumb %}

{% block main %}

<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Trocas & Devoluções</h6>
      </div>
      <div class="card-body">
        <table id="datatable" class="table table-bordered table-striped dataTable">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Produto</th>
              <th>Pedido</th>
              <th>Rastreio</th>
              <th>Motivo da devolução</th>
              <th>Telefone (Whatsapp)</th>
            </tr>
          </thead>
          <tbody>
            {% for devolution in devolutions %}
              <tr>
                <td>{{ devolution.full_name }}</td>
                <td>{{ devolution.product.name }}</td>
                <td>{{ devolution.number_order }}</td>
                <td>{{ devolution.code_tracking }}</td>
                <td>{{ devolution.reason }}</td>
                <td>
                  <a class="btn btn-success btn-xs" href="https://api.whatsapp.com/send?phone={{ devolution.cell_phone|clean_phone }}&text=Oi%20{{ devolution.full_name }}%2C%20tudo%20bem%3F" target="_blank"><i class="fab fa-whatsapp"></i></a>
              </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <span style="color:red;">Informe aos seus clientes o link abaixo para realizarem solicitações de trocas e devoluções</span>
        <p>
          <a href="javascript:;" class="copy" data-clipboard-text="https://{{ request.tenant.domain_url }}{% url 'site:devolution' %}">https://{{ request.tenant.domain_url }}{% url 'site:devolution' %}</a>
          (Clique para copiar)
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock main %}
