{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% block opengraph %}
        <meta name="description"          content="Uma plataforma única para gestão e escala de dropshipping.">
        <meta property="og:url"           content="https://www.dropazul.com/" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Drop Azul - Gestão para dropshipping" />
        <meta property="og:description"   content="Uma plataforma única para gestão e escala de dropshipping." />
        <meta property="og:image"         content="{% static 'provarme_landing/img/fbprofile.png' %}" />
      {% endblock %}


    <title> Gestão Online | Controle a sua operação de dropshipping com o Drop Azul </title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'provarme_landing/img/favicon.ico' %}" type="image/x-icon">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'provarme_landing/css/bootstrap.min.css' %}">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'provarme_landing/css/fontawesome.min.css' %}">
    <!-- Pe icon 7 stroke -->
    <link rel="stylesheet" href="{% static 'provarme_landing/css/flaticon.css' %}">
    <!-- animate -->
    <link rel="stylesheet" href="{% static 'provarme_landing/css/animate.css' %}">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static 'provarme_landing/css/slick.min.css' %}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'provarme_landing/css/magnific-popup.css' %}">
    <!-- stylesheet -->
    <link rel="stylesheet" href="{% static 'provarme_landing/css/style.css' %}">

    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'provarme_landing/css/responsive.css' %}">
    
</head>

<body>

{% block main %}

{% endblock %}
    <!-- jquery -->
    <script src="{% static 'provarme_landing/js/jquery.js' %}"></script>
    <!-- popper -->
    <script src="{% static 'provarme_landing/js/popper.min.js' %}"></script>
	<!-- bootstrap -->
    <script src="{% static 'provarme_landing/js/bootstrap.min.js' %}"></script>
    <!-- owl carousel -->
    <script src="{% static 'provarme_landing/js/slick.min.js' %}"></script>
    <!-- magnific popup -->
    <script src="{% static 'provarme_landing/js/jquery.magnific-popup.js' %}"></script>
    <!-- wow js-->
    <script src="{% static 'provarme_landing/js/wow.min.js' %}"></script>
    <!-- tweenmax js-->
    <script src="{% static 'provarme_landing/js/TweenMax.js' %}"></script>
    <!-- mouseover parallax js-->
    <script src="{% static 'provarme_landing/js/mousemoveparallax.js' %}"></script>
    <!-- contact js-->
    <script src="{% static 'provarme_landing/js/contact.js' %}"></script>
    <!-- main -->
    <script src="{% static 'provarme_landing/js/main.js' %}"></script>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142851798-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142851798-1');
    </script>
    <!-- Pixel do Facebook -->
    <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '700092173739136');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=700092173739136&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

    <script>
  window.intercomSettings = {
    app_id: "ai7dmi8v"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ai7dmi8v';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
</body>

</html>