{% extends 'provarme_landing/base.html' %}
{% load static %}


{% block title %}Gestão de seus simulados e provas{% endblock %}

{% block main %}



<!-- navbar area start -->
<nav class="navbar navbar-area navbar-expand-lg absolute">
    <div class="container-fluid nav-container">
        <div class="logo-wrapper navbar-brand">
            <a href="index.html" class="logo ">
                <img src="{% static 'provarme_landing/img/logo.png' %}" alt="logo">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="cgency">
            <!-- navbar collapse start -->
            <ul class="navbar-nav" id="primary-menu">
                <!-- navbar- nav -->
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#feature">Recursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pricing">Planos e Preços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contato</a>
                </li>
            </ul>
            <!-- /.navbar-nav -->
        </div>
        <!-- /.navbar btn wrapper -->
        <div class="responsive-mobile-menu">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cgency" aria-controls="cgency"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- navbar collapse end -->

    </div>
</nav>
<!-- navbar area end -->

<!-- header area start -->
<div class="header-area header-bg" id="home">
    <div class="header-area-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="header-inner"><!-- header inner -->

                        <h2 class=" wow FadeInDown" style="color:#fff;">A ferramenta completa para gerenciar<br /> suas lojas de Dropshipping</h2>

                        <div class="btn-wrapper">
                            <a href="https://upnid.com/go/p9854?p=n4kj" class="boxed-btn gd-bg" style="background: white; color:#0088ed;">Assinar agora!</a>
                        </div>
                    </div><!-- //. header inner -->
                </div>
            </div>
        </div>
    </div>
   <div class="header-right-image">
        <div class="header-right-image-animation">
            <img src="{% static 'provarme_landing/img/drop.png' %}" alt="header right image">
        </div>
   </div>
   <div class="header-bottom-area padding-top-130"><!-- header bottom area -->
       <div class="container">
           <div class="row">
               <div class="col-lg-4 col-md-6">
                   <div class="single-feature-item-01  wow zoomIn"><!-- single feature item 01 -->
                        <div class="icon">
                            <i class="flaticon-sketch"></i>
                        </div>
                        <div class="content">
                            <h4 class="title">Financeiro</h4>
                            <p>
                                Chega de levar o seu negócio na brincadeira e sem controle, documente todos os seus pedidos diariamente e tenha sempre em mãos o caixa de sua loja. O controle é essencial para a escalar as vendas de sua loja.
                            </p>
                        </div>
                   </div><!-- //. single feature item 01 -->
               </div>
               <div class="col-lg-4 col-md-6">
                   <div class="single-feature-item-01  wow zoomIn"><!-- single feature item 01 -->
                        <div class="icon">
                            <i class="flaticon-bullseye"></i>
                        </div>
                        <div class="content">
                            <h4 class="title">Tráfego</h4>
                            <p>
                                A grande maioria das lojas de dropshipping mantém o core business em tráfego pago, nossa solução proporciona que você armazene todas as métricas e custos diários de tráfego te dando uma ampla visão do negócio.
                            </p>
                        </div>
                   </div><!-- //. single feature item 01 -->
               </div>
               <div class="col-lg-4 col-md-6">
                   <div class="single-feature-item-01  wow zoomIn"><!-- single feature item 01 -->
                        <div class="icon">
                            <i class="flaticon-repair"></i>
                        </div>
                        <div class="content">
                            <h4 class="title">Atendimento</h4>
                            <p>
                                Atender o seu cliente é uma tarefa de grande importância, já está na hora de você para de deixar dinheiro na mesa. Nós entregamos um ambiente favorável para um suporte confiável e rentável, com um alto índice de conversão e recuperação de vendas.
                            </p>
                        </div>
                   </div><!-- //. single feature item 01 -->
               </div>
           </div>
       </div>
   </div><!-- header bottom area -->
</div>
<!-- header area end -->

<!-- block feature area start -->
<div class="block-feature-area padding-top-120" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-feature-item"><!-- block feature item -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="img-wrapper box-shadow-90">
                                <img src="{% static 'provarme_landing/img/gerencial.jpg' %}" alt="software image">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content-block-area padding-left-50"><!-- content block area -->
                                <h4 class="title wow fadeInUp">Controle Gerencial</h4>
                                <p>
                                    Sinta a felicidade de ter o controle total de sua loja de dropshipping em mãos e descomplique de uma vez por todas a gestão da loja.
                                </p>
                                <!--<div class="btn-wrapper margin-top-20 wow fadeInDown">
                                    <a href="#" class="boxed-btn gd-bg br-5 w180px">Read More</a>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- block feature area end -->

<!-- block feature area start -->
<div class="block-feature-area padding-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-feature-item"><!-- block feature item -->
                    <div class="row reorder-xs">
                        <div class="col-lg-6">
                            <div class="content-block-area padding-right-50"><!-- content block area -->
                                <h4 class="title wow fadeInUp">Tempo é dinheiro</h4>
                                <p>
                                    No Drop Azul você controla a sua empresa de forma clara e eficaz e não perde tempo. Tenha tudo sob controle e aproveito seu tempo com o que realmente importa em seu negócio. A grande maioria dos empreendedores não conseguem escalar, por não saber a realidade de sua empresa.
                                </p>
                               <!-- <div class="btn-wrapper margin-top-20">
                                    <a href="#" class="boxed-btn gd-bg br-5 w180px">Read More</a>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="img-wrapper box-shadow-90 wow fadeInDown">
                                <img src="{% static 'provarme_landing/img/tempodinheiro.jpg' %}" alt="software image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- block feature area end -->

<!-- why choose us area start -->
<section class="why-chose-us why-choose-us-bg padding-top-110 padding-bottom-55" id="feature">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title center-aligned">
                    <h2 class="title">Porquê todos os dropshippers utilizam este app?</h2>
                    <p>
                        Somos uma plataforma que conecta tudo o que você precisa para a gestão de suas lojas de dropshipping
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="why-us-box-01 margin-bottom-30">
                    <div class="icon">
                        <i class="flaticon-screen"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Mobilidade</h4>
                        <p>
                            Acompanhe todas as operações de seu negócio de forma rápida, carregue a sua empresa no bolso.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-us-box-01 margin-bottom-30">
                    <div class="icon">
                        <i class="flaticon-bullseye"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Tráfego</h4>
                        <p>
                            Tenha sempre em mãos um catálogo em um ambiente amigável, para acompanhar suas estratégias de escala para seus produtos.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-us-box-01 margin-bottom-30">
                    <div class="icon">
                        <i class="flaticon-paper"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Métricas e Relatórios</h4>
                        <p>
                            Suas métricas te ajudam em sua tomada de decisões. Aqui você pode catalogar e mensurar todos os resultados de forma limpa e geral.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="why-us-box-01 margin-bottom-30">
                    <div class="icon">
                        <i class="flaticon-tool"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Conversão de Boletos</h4>
                        <p>
                            Agora você vai pedir por mais compras em boleto, com a nossa plataforma, você elevará sua conversão para até 82%.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-us-box-01 margin-bottom-30">
                    <div class="icon">
                        <i class="flaticon-teamwork"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Integração</h4>
                        <p>
                            Nós trabalhamos diariamente para manter nossa ferramenta sempre integrada com as principais soluções para dropshipping.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-us-box-01 margin-bottom-30">
                    <div class="icon">
                        <i class="flaticon-life-insurance"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">100% Seguro</h4>
                        <p>
                            Todo o ambiente é seguro e asseguramos a consistência de seus dados utilizando as melhores tecnologias do mercado.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- why choose us area end -->




<!-- intro video area start -->
<div class="intro-video-area intro-video-bg padding-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-video-inner"><!-- intro video inner -->
                    <div class="img-wrapper">
                        <img src="{% static 'provarme_landing/img/intro-video-laptop.png' %}" alt="intro vidoe laptop">
                        <div class="hover">
                                <a href="https://www.youtube.com/watch?v=I29WdREgrCA" class="video-play-btn mfp-iframe"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div><!-- //. intro video inner area -->
            </div>

        </div>
    </div>
</div>
<!-- intro video area end -->

<!-- price plan area start -->
<div class="price-plan-area padding-top-110 padding-bottom-100" id="pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title center-aligned">
                    <h2 class="title">Nossos planos e preços</h2>
                    <p>
                        Planos feitos sob medida para o sucesso de sua loja de dropshipping
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-price-table-01  wow zoomIn"><!-- single price table 01 -->
                    <div class="price-header">
                        <span class="name">Básico</span>
                        <div class="price-wrap">R$ 99,90<span class="month">/Mês</span></div>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li>1 Produto</li>
                            <li>1.000 Boletos</li>
                            <li>Tráfego Mensal</li>
                            <li>Domínio Drop Azul</li>
                            <li><b>Instalação: <strong>R$ 179,90</strong></b></li>
                            <li><b>Suporte Gratuito</b></li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <a href="https://upnid.com/go/p9854?p=n4kj" class="boxed-btn blank bordered btn-rounded w180px">Assinar</a>
                    </div>
                </div><!-- //.single price table 01 -->
            </div>
            <div class="col-lg-4 col-md-6 remove-col-padding">
                <div class="single-price-table-01 active  wow zoomIn"><!-- single price table 01 -->
                    <div class="price-header">
                        <span class="name">Intermediário</span>
                        <div class="price-wrap">R$ 249,90<span class="month">/Mês</span></div>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li>2 Produtos</li>
                            <li>2.600 Boletos</li>
                            <li>Tráfego Guiado (Escala)</li>
                            <li>Domínio personalizado</li>
                            <li><b>Instalação: <strong>R$ 179,90</strong></b></li>
                            <li><b>Suporte Gratuito</b></li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <a href="https://upnid.com/go/p10198?p=poeb" class="boxed-btn blank bordered btn-rounded w180px">Assinar</a>
                    </div>
                </div><!-- //.single price table 01 -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-price-table-01  wow zoomIn"><!-- single price table 01 -->
                    <div class="price-header">
                        <span class="name">Avançado</span>
                        <div class="price-wrap">* <span class="month">Consultar</span></div>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li>5 ou maisProdutos</li>
                            <li>+ 3.000 Boletos</li>
                            <li>Tráfego Plus</li>
                            <li>Domínio personalizado</li>
                            <li><b>Instalação: <strong>R$ 179,90</strong></b></li>
                            <li><b>Suporte Gratuito</b></li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <a href="" class="boxed-btn blank bordered btn-rounded w180px">Assinar</a>
                    </div>
                </div><!-- //.single price table 01 -->
            </div>

        </div>
    </div>
</div>
<!-- price plan area end -->



<!-- contact area start -->
<div class="contact-area contact-bg" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="contact-outer-area"><!-- contact outer area -->
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                                <div class="content-form-wrapper"><!-- contact form wrapper -->
                                    <div class="section-title center-aligned">
                                        <h2 class="title">Fale conosco</h2>
                                        <p>
                                            Ficou com alguma dúvida? Envie uma mensagem agora mesmo através do formulário abaixo.
                                        </p>
                                    </div>
                                    <form action="index.html" class="contact-form" id="get_in_touch">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Seu Nome">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Seu Email">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Assunto">
                                                </div>
                                                <div class="form-group textarea">
                                                    <textarea name="message" id="message" class="form-control" placeholder="Mensagem" cols="30" rows="10"></textarea>
                                                </div>
                                                <button class="submit-btn w180px gd-bg" type="submit">Enviar agora</button>
                                            </div>
                                        </div>
                                    </form>
                                </div><!-- //. contact form wrapper -->
                        </div>
                    </div>
                </div><!-- //. contact outer area -->
            </div>
        </div>
    </div>
</div>
<!-- contact area end -->

<!-- faq area start -->
<div class="faq-area padding-top-110 padding-bottom-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title center-aligned">
                    <h2 class="title">Perguntas Frequentes</h2>
                    <p>
                        Tentamos reuniar as 3 principais perguntas que sempre recebemos para explicar um pouco o Drop Azul.
                    </p>
                </div>
            </div>
        </div>
        <div class="row reorder-xs">
            <div class="col-lg-6">
                <div class="accordion-wrapper"><!-- accordion wrapper -->
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <a  data-toggle="collapse" data-target="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                                        Como funciona ?
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    O Drop Azul é uma plataforma desenvolvida para auxiliar o dropshipper na escala de suas lojas, sempre estamos atualizando as funcionalidades de acordo com o que o mercado pede.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" role="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Quais as funcionalidades?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                        Nós desenvolvemos uma ferramenta diretamente com quem escala vendas em suas lojas, portanto, cobrimos desde seus produtos, até o atendimento de seu negócio.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" role="button" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Por que eu deveria usar?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                        Entendemos que existam outras possibilidades, como criar várias planilhas e utilizar diretamente em seu google drive, mas nós criamos um ambiente amigável e diversas funcionalidades que irão te levar pra outro patamar.
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- //. accordion wrapper -->
            </div>
            <div class="col-lg-6">
                <div class="img-wrapper wow zoomIn">
                    <img src="{% static 'provarme_landing/img/faq.jpg' %}" alt="faq image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq area emd -->


<!-- footer area start -->
<footer class="footer-area footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget widget about_widget"><!-- footer widget -->
                    <a href="index.html" class="footer-logo"><img src="{% static 'provarme_landing/img/logo.png' %}" alt=""></a>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                    <div class="copyright-text margin-top-30">Todos os direitos reservados © Drop Azul </div>
                </div><!-- //. footer widget -->
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->

<div class="back-to-top base-color-2">
        <i class="fas fa-rocket"></i>
</div>
	<!-- End Footer -->
{% endblock %}