{% extends "provarme_dashboard/base_dashboard.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% block title %}{% trans '[Drop Azul] -  Nova Fornecedor' %}{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Novo Fornecedor</li>
{% endblock breadcrumb %}

{% block main %}

<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Novo Fornecedor</h6>
      </div>
      <div class="card-body">

        <form class="form" method="post">
          {% csrf_token %}

          {% include "provarme_dashboard/components/form-error.html" with form=form %}

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {% include "provarme_dashboard/components/field.html" with field=form.product %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {% include "provarme_dashboard/components/field.html" with field=form.event_date class="date" %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {% include "provarme_dashboard/components/field.html" with field=form.investment class="money" %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {% include "provarme_dashboard/components/field.html" with field=form.order_quantity %}
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary pull-right">Salvar</button>
          <a href="{% url 'dashboard:traffic' %}" class="btn btn-warning">{% trans 'Voltar' %}</a>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock main %}
