{% extends "provarme_dashboard/base_dashboard.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% block title %}{% trans '[provar.me] -  Nova questão' %}{% endblock %}
{% block breadcrumb %}
<h1>
Questões
<small>Adicione um nova questão</small>
</h1>
<a href="{% url 'dashboard:questions' %}" class="btn bg-purple margin pull-right">VOLTAR</a>
{% endblock breadcrumb %}
{% block main %}
  <!-- Conteúdo principal -->
    <section class="content">
        <div class="row">
          <div class="col-xs-12">

            <div class="box box-info">
            <div class="box-header">
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                    <form class="form" action="" method="post">
                        {% csrf_token %}
                      <div class="box-body">

                            {% if form.errors %}
                                    <div class="alert alert-danger">
                                            <strong>Ocorreu um erro no preenchimento do formulário!</strong>
                                            <br>
                                            <strong>Fique atento aos itens obrigatórios!</strong>
                                    </div>
                            {% endif %}


                                      <div class="col-sm-12">
										  <div class="form-group">
											  <label for="">Enunciado</label>
											  {{ form.wording }}
										  </div>
									  </div>



                      </div>
                      <!-- /.box-body -->
                      <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Salvar</button>
                      </div>
                      <!-- /.box-footer -->
                    </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          </div>
        </div>

    </section>
    <!-- /.content -->
{% endblock main %}

<!-- Bloco de scripts js -->
{% block javascript %}
<script>
        if($('#hint').val() == '<p><b></p>'){
            $('#hint').val('');
        }
		$('.summernote').summernote({
			'height': '150px'
		});
		$('.select2').select2({
			placeholder: '',
			allowClear: true
		});
		$(document).ready(function () {
			$("#addAlternative").on("click", function (event) {
				var html = $(".alternatives tr:last").clone(true).find("textarea").val("").end();

				var total_forms = $("#id_alternative_set-TOTAL_FORMS");

				html.children().find('input')[0].id = 'id_alternative_set-' + total_forms.val() + '-question';

				html.children().find('input')[0].name = 'alternative_set-' + total_forms.val() + '-question';

				html.children().find('input')[1].id = 'id_alternative_set-' + total_forms.val() + '-id';

				html.children().find('input')[1].name = 'alternative_set-' + total_forms.val() + '-id';

				html.children().find('textarea')[0].id = 'id_alternative_set-' + total_forms.val() + '-text';

				html.children().find('textarea')[0].name = 'alternative_set-' + total_forms.val() + '-text';

				total_forms.val(parseInt(total_forms.val()) + 1);

				html.insertAfter($("tr:last"));

				// $(".alternatives").append(html);
			});

			$("#toggle-alternatives-summernote").click(function (e) {
				e.preventDefault();
				$(this).toggleClass("active");
				if ($(this).hasClass("active")) {
					$(".alternatives textarea.form-control").each(function () {
						$(this).summernote();
					});
				} else {
					$(".alternatives textarea.form-control").each(function () {
						$(this).summernote('destroy');
						if ($(this).val() == '<p><br></p>'){
							$(this).val('');
						}
					});
				}

			})
		});
	</script>
{% endblock javascript %}