{% extends "atrix_tenant/base_tenant.html" %}
{% load i18n static solo_tags %}
{% block javascript %}
<script>
$(function() {
    $('#result').hide();
    // Enviando criação da instancia
    $('#create_instance').on('submit', function(event){
        event.preventDefault();
        var tenant_name = $('#id_subdomain').val();
        var email = $('#id_email').val();
        var password = $('#id_password').val();
        var name_fantasy = $('#id_name_fantasy').val();
        $.ajax({
        type: "POST",
        url: '{% url "tenant:register" %}',
        beforeSend: function () {
            // chamada para o loader
            $("#loader").show();
            $(".overlay").css("background-image",
                "url(https://i.stack.imgur.com/8t6P3.gif)",
                );
         },
        data: {
          'tenant_name': tenant_name,
          'email': email,
          'password': password,
          'name_fantasy': name_fantasy,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function (response) {
          $("#loader").hide();
          if (response.tenant_exist == true) {
            $('#create_instance').hide('slow');
            $('#result').show().fadeIn(500).delay(5000);
          }
          else{
            $("#loader").hide();
            $('#create_instance').show();
            $('#result').hide();
            $('#response_get_subdomin').css('color', 'blue');
            $('#response_get_subdomin').html('<strong>Ocorreu algo estranho ao buscar seu domínio, por favor confirme!</strong>');
          }
        }
      });
    });


    // Busca subdomain
    $("#loader").hide();
    $("#id_subdomain").change(function () {
      var subdomain = "atrix_" + $(this).val();
      $.ajax({
        url: '{% url "tenant:validate_tenant" %}',
        beforeSend: function () {
            // chamada para o loader
            $("#loader").show();
            $(".overlay").css("background-image",
                "url(https://i.stack.imgur.com/8t6P3.gif)",
                );
         },
        data: {
          'subdomain': subdomain
        },
        dataType: 'json',
        success: function (data) {
          $("#loader").hide();
          if (data.exist == true) {
            $('#response_get_subdomin').css('color', 'red');
            $('#response_get_subdomin').html('<strong>Este dominío já existe. Por favor escolha outro endereço!</strong>');
          }else if(data.exist == false){
            $('#response_get_subdomin').css('color', 'green');
            $('#response_get_subdomin').html('<strong>Domínio disponível para uso!</strong>');
          }
          else{
            $('#response_get_subdomin').css('color', 'blue');
            $('#response_get_subdomin').html('<strong>Ocorreu algo estranho ao buscar seu domínio, por favor confirme!</strong>');
          }
        }
      });
    });
    });
  </script>

{% endblock %}
{% block main %}
<div id="loader" class="overlay"></div>
<div class="login-box">
  <div class="login-logo">
    <a href="login.html">
      <img src="{% static 'atrix_core/static/img/logologin.png' %}" alt=""/>
    </a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Crie sua conta agora mesmo!</p>
      <!-- Form dispara criação do inquilino -->

    <form action="." id="create_instance" method="post">
    {% csrf_token %}
        {% if tenant_exist %}
        <div class="alert alert-danger" role="alert">
            {% trans 'Este dominío já existe. Por favor escolha outro endereço!' %}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-10">
                <label for="id_subdomain">Subdomínio</label>
                <input autofocus required class="form-control" name="subdomain" id="id_subdomain" placeholder="" value="{{ form_data.subdomain }}">
                <small id="response_get_subdomin">* {% trans 'Nome sem caracteres especiais' %}</small>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-10">
                <label for="id_name_fantasy">Nome do seu negócio</label>
                <input autofocus required class="form-control" name="name_fantasy" id="id_name_fantasy" placeholder="" value="{{ form_data.name_fantasy }}">
                <small>* {% trans 'Informe aqui o nome de fantasia do seu negócio' %}</small>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-10">
                <label for="id_email">Email</label>
                <input required class="form-control" type="email" name="email" id="id_email" value="{{ form_data.email }}">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-10">
                <label for="id_password">Senha</label>
                <input required class="form-control" type="password" name="password" id="id_password">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-10">
                <label for="id_plan">Selecione seu plano</label>
                <select class="form-control" id="plan" name="plan">
                    {% for plan in plans %}
                        <option value="{{ plan.id }}">{{ plan.name }} - {{ plan.amount }} R$</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class=" col-lg-12 text-right">
                <a href="/" class="btn btn-warning pull-left">Voltar</a>
            <input class="btn btn-success" type="submit" value="Criar conta">
            </div>
        </div>
    </form>

   <div id="result">
    <h3>{% trans 'Parabéns!' %}</h3>
    <p>
        {% trans 'Sua conta foi criada com sucesso.' %}<br>
        {% trans 'Acesse seu email para ativar sua instância e comece a aproveitar os benefícios do atrixmob' %}
    </p>
    </div>

    </div>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock main %}
