{% extends "provarme_dashboard/base_dashboard.html" %}
{% load i18n static dashboard_tags %}
{% block title %}{% trans '[Drop Azul] -  Seus alunos' %}{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Loja</li>
{% endblock breadcrumb %}

{% block main %}

<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Configurações Gerais</h6>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Taxa de Shopify</th>
              <th>Taxa de Gateway</th>
              <th>Criado em</th>
              <th>Atualizado em</th>
              <th>Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for setup in setups %}
              <tr>
                <td>{{ setup.tx_shopify }}%</td>
                <td>{{ setup.tx_gateway }}%</td>
                <td>{{ setup.created_at }}</td>
                <td>{{ setup.updated_at }}</td>
                <td class="font-weight-bold text-{{ setup.status|text_color }}">{{ setup.get_status_display }}</td>
                <td>
                  <a href="{% url 'dashboard:update_setup' setup.pk %}" class="btn btn-primary btn-xs"><span class="fa fa-edit"></span></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if not setups %}
          <a href="{% url 'dashboard:new_setup' %}" class="btn btn-primary m-b-10 m-l-5 pull-right">Criar Nova</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock main %}
