{% extends "provarme_dashboard/base_dashboard.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% block title %}{% trans '[Drop Azul] -  Nova Loja' %}{% endblock %}

{% block main %}
<!-- Conteúdo principal -->
<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Configurações Gerais</h6>
      </div>
      <div class="card-body">

        <form class="form" action="" method="post">
          {% csrf_token %}
          {% include "provarme_dashboard/components/form-error.html" with form=form %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  {% include "provarme_dashboard/components/field.html" with field=form.tx_shopify %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  {% include "provarme_dashboard/components/field.html" with field=form.tx_gateway %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  {% include "provarme_dashboard/components/field.html" with field=form.tx_antecipation %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  {% include "provarme_dashboard/components/field.html" with field=form.tx_tax %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  {% include "provarme_dashboard/components/field.html" with field=form.tx_iof %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  {% include "provarme_dashboard/components/field.html" with field=form.tx_cashback %}
              </div>
            </div>
          </div>


          <button type="submit" class="btn btn-primary pull-right">Salvar</button>
          <a href="{% url 'dashboard:setups' %}" class="btn btn-warning">
            {% trans 'Voltar' %}
          </a>

          <!-- /.box-footer -->
        </form>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>

<!-- /.content -->
{% endblock main %}

